.Names {
    width: auto;
    max-height: 200px;
    display: inline;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10em;
    background: linear-gradient(rgba(36,36,250,1) 0%, rgba(255,255,255,1) 46%, rgba(0,0,0,1) 47%, rgba(230,115,255,1) 54%, rgba(212,212,212,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: blueviolet;
  }